{% extends "base.html" %}

{% block title %}Register new taxi{% endblock %}

{% block content %}
<h1>Register new taxi</h1>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<div class="row">
    <form action="{% url 'taxiapp:store' %}" method="post" class="col s12">
        {% csrf_token %}
        <div class="input-field col s12">
            <input type="text" id="name_input" name="name">
            <label for="name_input">Name</label>
        </div>
        <div class="input-field col s12">
            <input type="text" id="phone_input" name="phone">
            <label for="phone_input">Phone</label>
        </div>
        <div class="input-field col s6">
            <input type="datetime" name="open_hour" id="open_hour_input" class="timepicker">
            <label for="open_hour_input">Open Hour</label>
        </div>
        <div class="input-field col s6">
            <input type="datetime" name="close_hour" id="close_hour_input" class="timepicker">
            <label for="close_hour_input">Close Hour</label>
        </div>
        <div class="input-field col s12">
            <button class="btn waves-effect waves-light" type="submit" name="action">
                Register
                <i class="material-icons right">send</i>
            </button>
        </div>
    </form>
</div>

{% endblock %}