{% extends "base.html" %}

{% block title %}Update taxi{% endblock %}

{% block content %}
<h1>Edit {{taxi.name}}</h1>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<div class="row">
    <form action="{% url 'taxiapp:update' taxi.id %}" method="post" class="col s12">
        {% csrf_token %}
        <div class="input-field col s12">
            <input type="text" id="name_input" name="name" value="{{taxi.name}}">
            <label for="name_input">Name</label>
        </div>
        <div class="input-field col s12">
            <input type="text" id="phone_input" name="phone" value="{{taxi.phone}}">
            <label for="phone_input">Phone</label>
        </div>
        <div class="input-field col s6">
            <input type="datetime" value="{{taxi.open_hour}}" name="open_hour" id="open_hour_input" class="timepicker">
            <label for="open_hour_input" class="active">Open Hour</label>
        </div>
        <div class="input-field col s6">
            <input type="datetime" value="{{taxi.close_hour}}" name="close_hour" id="close_hour_input" class="timepicker">
            <label for="close_hour_input" class="active">Close Hour</label>
        </div>
        <div class="input-field col s12">
            <a class="btn waves-effect waves-light" href="{% url 'taxiapp:index' %}" name="action">
                Back
                <i class="material-icons right">replay</i>
            </a>
            <button class="btn waves-effect waves-light" type="submit" name="action">
                Register
                <i class="material-icons right">send</i>
            </button>
        </div>
    </form>
</div>

{% endblock %}