{% extends "base.html" %}

{% block title %}Taxis{% endblock %}

{% block content %}

{% if taxis %}
<h2 class="header">Order your taxi</h2>
<div class="row">
    {% for taxi in taxis %}
    <div class="col s6">
        <div class="card">
            <div class="card-stacked">
                <div class="card-image">
                    <img src="http://materializecss.com/images/sample-1.jpg">
                    <span class="card-title">{{taxi.name}}</span>
                    <a href="tel:{{taxi.phone}}" class="btn-floating halfway-fab waves-effect waves-light red"><i
                            class="material-icons">call</i></a>
                </div>
                <div class="card-content">
                    <p>Open: {{ taxi.open_hour }} - {{ taxi.close_hour }}</p>
                    <p>Phone: {{taxi.phone}}</p>
                    <p>Rating: {{taxi.stars}}</p>
                </div>
                <div class="card-action">
                    <a href="{% url 'taxiapp:edit' taxi.id %}"><i class="material-icons">mode_edit</i>Edit</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}

{% endblock %}