<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}My amazing site{% endblock %}</title>
    <!-- Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="/static/taxiapp/materialize/css/materialize.css">
    <link rel="stylesheet" href="/static/taxiapp/style.css">
</head>
<body>
<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Logo</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li class="{% if request.get_full_path == '/taxi/' %} active{% endif %}"><a href="{% url 'taxiapp:index' as home_url %}">Order Taxi</a></li>
            <li class="{% if request.get_full_path == 'weather' %} active{% endif %}" ><a href="#">Weather</a></li>
            <li class="{% if request.get_full_path == 'journeys' %} active{% endif %}"><a href="#">Journeys</a></li>
        </ul>
    </div>
</nav>

<div class="container">
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</div>


{% load static %}
<!-- Compiled and minified JavaScript -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/static/taxiapp/materialize/js/materialize.js"></script>
<script src="/static/taxiapp/app.js"></script>

</body>
</html>